order allow,deny
allow from all

Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com [NC]
RewriteRule ^(.*)$ http://www.chriskankiewicz.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.chriskankiewicz.com$
RewriteRule ^photos$ "http\:\/\/www\.chriskankiewicz\.com\/photography\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.chriskankiewicz.com$
RewriteRule ^photography$ "http\:\/\/www\.chriskankiewicz\.com\/photography\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.chriskankiewicz.com$
RewriteRule ^about$ "http\:\/\/www\.chriskankiewicz\.com\/about\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.chriskankiewicz.com$
RewriteRule ^contact$ "http\:\/\/www\.chriskankiewicz\.com\/contact\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^chriskankiewicz.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.chriskankiewicz.com$
RewriteRule ^legal$ "http\:\/\/www\.chriskankiewicz\.com\/legal\.php" [R=301,L]

# compress all text & html:
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css