/****************************************************************\
|**********|                                          |**********|
|**********|    ChrisKankiewicz.com site structure    |**********|
|**********|           By, Chris Kankiewicz           |**********|
|**********|                                          |**********|
\****************************************************************/

/* --------------------- */
/* -----| HEADER | ----- */
/* --------------------- */

#header {
	height: 80px;
	margin: 0;
}

.width-constraint {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/* ------------------- */
/* -----| BODY | ----- */
/* ------------------- */

#content {
	float: left;
	margin-right: 200px;
	width: 750px;
}

#right-bar {
	float: right;
	margin-left: -200px;
	width: 200px;
}

/* --------------------- */
/* -----| FOOTER | ----- */
/* --------------------- */

* { margin:0; padding:0; }

html, body, #wrap {
	height: 100%;
}

body > #wrap {
	height: auto;
	min-height: 100%;
}

#main {
	padding-bottom: 119px;	/* Must be same height as the footer */
}

#footer {
	clear:both;
	height: 119px;
	margin-top: -119px;		/* Negative value of footer height */
	position: relative;
}

/* --- OTHER FOOTER STUFF --- */

#footer-top {
	background-color: #FFF;
	height: 82px;
}

#footer-bottom {
	height: 36px;
	text-align: center;
}

/* --- CLEAR FIX --- */

.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */