/* --------------------- */
/* -----[ GENERAL ]----- */
/* --------------------- */

html {
	font-size: 100%;
}

body {
	color: #333;
	font-family: sans-serif, Verdana, Tahoma, Sans, Arial, Helvetica;
	font-size: 1em;
}

a {
	color: #900;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

.width-constraint {
	margin: 0 auto;
	width: 940px;
	position: relative;
}

#wrap, #footer {
	min-width: 960px;
}


/* -------------------- */
/* -----[ HEADER ]----- */
/* -------------------- */

#header {
	background-color: #222;
	height: 120px;
	padding: 0 10px;
	position: relative;
}

#header .left {
	float: left;
	height: 120px;
	width: 50%;
}

#header .right {
	float: right;
	height: 120px;
	width: 50%;
}

#header #site-logo img {
	float: left;
	margin-top: 10px;
}

#sub-header {
	border-bottom: 1px dotted #222;
	padding: 0 10px;
}

#sub-header .left {
	float: left;
	font-size: .7em;
	padding: 5px 0;
	width: 75%;
}

#sub-header .right {
	float: right;
	font-size: .9em;
	text-align: right;
	padding: 4px 0;
	width: 25%;
}


/* -------------------- */
/* -----[ SEARCH ]----- */
/* -------------------- */

#search {
	float: right;
	margin-top: 30px;
}

#search #search-box {
	border: 3px solid #900;
	color: #707070;
	font-size: 1.1em;
	margin-right: 10px;
	padding: 3px 5px;
	width: 12em;
}

#search #search-button {
	background-color: #900;
	border-top: 2px solid #C33;
	border-left: 2px solid #C33;
	border-right: 2px solid #600;
	border-bottom: 2px solid #600;
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	padding: 4px;
}

.clear {
	clear: both;
	height: 0 !important;
	margin: 0;
	padding: 0;
}


/* ---------------------------- */
/* -----[ TAB NAVIGATION ]----- */
/* ---------------------------- */

#navigation ul {
  bottom: 0px;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0px;
}

#navigation ul li {
  display: inline;
  margin: 0;
}

#navigation ul li.title {
  color: #FFF;
  float: left;
  font-weight: bold;
  margin-left: 5px;
  padding: 3px 0;
  text-decoration: none;
  text-align: right;
}

#navigation ul li a {
  background-color: #707070;
  color: #FFF;
  float: left;
  margin-left: 5px;
  padding: 4px 12px;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #900;
  color: #FFF;
}

#navigation ul li.current a {
  background-color: #FFF;
  color: #000;
}

#navigation ul li.current a:hover {
  background-color: #FFF;
  color: #000;
}


/* ------------------------- */
/* -----[ BREADCRUMBS ]----- */
/* ------------------------- */

#breadcrumbs {
	color: #707070;
}


/* ------------------------ */
/* -----[ SHARE LINK ]----- */
/* ------------------------ */

#share-link a {
	background: transparent url(/images/icons/email.png) no-repeat left center;
	padding-left: 20px;
	text-decoration: none;
}

#share-link a:hover {
	text-decoration: underline;
}


/* --------------------- */
/* -----[ CONTENT ]----- */
/* --------------------- */

#content-wrapper {
	height: 100%;
	padding: 20px 10px;
}

#content {
	height: 100%;
	float: right;
	margin-left: 275px;
	margin-bottom: 20px;
	width: 665px;
}

#content h1 {
	color: #900;
	font-family: serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .5em;
}

#content h2 {
	color: #900;
	font-family: serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: .5em;
}

#content p {
	line-height: 1.3em;
	margin: .8em 0;
}

#content img.border {
	background-color: #F0F0F0;
	border: 1px solid #D8D8D8;
	padding: 4px;
}

#company-logos a {
	border: 3px solid #FFF;
	display: inline-block;
	margin: 0 7px;
	padding: 3px;
}

#company-logos a:hover {
	border: 3px solid #900;
}


/* --------------------- */
/* -----[SIDE BAR ]----- */
/* --------------------- */

#side-bar {
	float: left;
	margin-right: -250px;
	margin-bottom: 20px;
	width: 250px;
	text-align: left;
}

#side-bar h3 {
	background-color: #333;
	color: #FFF;
	font-size: .9em;
	font-weight: bold;
	margin-bottom: 1px;
	padding: 7px 10px;
}

#side-bar #side-nav {
	/*
	border-left: 2px solid #222;
	border-right: 2px solid #222;
	border-bottom: 2px solid #222;
	padding: 1px 1px 0;
	*/
}

#side-nav ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#side-nav ul li {
	display: block;
	float: left;
	margin: 0 0 1px;
	width: 100%;
}

#side-nav ul li a {
	background-color: #707070;
	color: #FFF;
	display: block;
	padding: 7px 10px;
	text-decoration: none;
}

#side-nav ul li a:hover {
	background-color: #900;
}

#side-nav ul li a img {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

#side-bar h4 {
	color: #900;
	font-family: serif;
	font-size: 1em;
	font-weight: bold;
	margin: .5em 0;
}

#side-bar p {
	color: #999;
	font-size: .75em;
	margin: 0 0 1em;
}


/* --------------------------- */
/* -----[ STICKY FOOTER ]----- */
/* --------------------------- */

html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 145px;}  /* must be same height as the footer */

#footer {
	background-color: #222;
	clear:both;
	color: #333;
	font-size: .8em;
	height: 145px;
	margin-top: -145px; /* negative value of footer height */
	position: relative;
}

#footer #footer-top {
	background-color: #F0F0F0;
	font-size: 11px;
	height: 100px;
	padding: 10px;
}

#footer #footer-top #cust-serv-number {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 1em;
}

#footer #footer-bottom {
	background-color: #222;
	color: #FFF;
	font-size: .9em;
	height: 25px;
	padding: 0 10px;
	text-align: center;
}

#footer-top .width-constraint {
	height: 100%;
}

#footer #footer-top .footer-margin {
	height: 100%;
}

#footer #footer-bottom .footer-margin {
	padding: 5px 0;
}

#footer #footer-top .left {
	height: 100%;
	float: left;
	line-height: 15px;
	padding-right: 10px;
	width: 300px;
}

#footer #footer-top h5 {
	font-family: serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .5em;
}

#footer #footer-top p {
	margin-top: 7px;
}

#footer #footer-top .center {
	border-left: 1px solid #AAA;
	height: 100%;
	float: left;
	padding: 0 10px;
	width: 298px;
}

#footer .right {
	border-left: 1px solid #AAA;
	height: 100%;
	float: right;
	padding-left: 10px;
	width: 300px;
}


/* ---------------------------- */
/* -----[ MISCELLANEOUS ] ----- */
/* ---------------------------- */

#content div.hr {
  background-color: #CCC;
  border: 0;
  height: 1px;
  margin: 1em 0;
  width: 100%;
}

#content div.hr hr {
  display: none;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
